body {
    box-sizing: border-box;
    background-color: rgb(246, 253, 253);
    font-family: 'Noto Sans Display', sans-serif;
    letter-spacing: 0.75px;
    display: flex;
    align-items: center;
}
head {
    font-weight: 10px;
    font-size: 2em;
    line-height: normal;
}
header {
    background-color: #c0d6df;
}
head, header, footer, p.name {
    text-align: center;
    color: black;
}
h1 {
    background-color: white;
    display: inline-block;
    font-size: 2.75em;
    border-radius: 15px;
    padding: 15px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
h2 {
    font-size: 2em;
    color: darkslateblue;
}
h2.headlines {
    margin-top: 35px;
}
.books {
    background-image: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=628&q=80");
    background-size: cover;
}
.headlines {
    text-align: center;
    margin: 15px;
    width: 15rem;
    border: 5px inset purple;
    padding: 10px;
    border-radius: 10px;
}
.health {
    background-image: url("https://images.unsplash.com/photo-1444459094717-a39f1e3e0903?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80");
}
i.fas,
i.fab {
    font-size: 1.50rem;
}
i.fab fa-discord {
    color: rgb(115, 138, 219);
}

img.banner {
    position: absolute;
    left: 75px;
}
img.banner1 {
    position: absolute;
    right: 75px;
}
img.banner, img.banner1 {
    border-radius: 50%;
    width: 10rem;
}
img.center, img.bottom {
    margin-left: auto;
    margin-right: auto;
    width: 17rem;
}
img.right {
    float: right;
    margin: 0.5%;
    padding: 2em;
    width: 17rem;
}

.matrix {
    background-image: url("https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
}
.mental {
    background-image: url("https://images.unsplash.com/photo-1459664018906-085c36f472af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
}

p {
    margin: 25px 35px 25px 35px;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visted {
    color: blueviolet;
    text-decoration: none;
}
a:hover {
    color: green;
    text-decoration: underline;
}
a:active {
    color: red;
    text-decoration: underline;
}
#footer {
    clear: both;
    background-color: #ced4da;
    padding: 0.5rem;
}

@media only screen and (min-width: 576px) and (max-width: 1400px) {
    
}